 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6">
                    <p> I am an Android developer with practical experience from a bootcamp created in collaboration with Google, a theoretical foundation from a master’s in CS, a logical foundation from a BA in math, plus communication and management skills from nearly a decade of consulting.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p>I care as much about reducing my colleagues' stress levels as I do about the product we're creating. Whether it's adherence to styleguides and pull request protocols, or just basic time management, my priority is to be dependable and put minds at ease.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-lg btn-outline" href="https://github.com/ScottLindley/ScottLindley.github.io/raw/master/assets/scott-lindley-resume.pdf" target="_blank">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
         </div>
    </section>
