 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-md-6">
                    <p>I am a recent graduate of General Assembly’s third android development cohort. This program has provided me with a strong understanding of the hard skills required to write real world Android applications.</p>
                    <p>I have worked incredibly hard the past three months to hone my new skills to create multiple real world Apps that can be found on my GitHub page. I am currently completing a multiplayer Sudoku game, which will be available on the play store within the next week.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p>Prior to taking the GA course, I completed my BFA in musical theater with a minor in physics. I have found these skills to be extremely useful when approaching programming.My acting background has given me the creativity and fearlessness needed when approaching new application ideas. My physics background has provided me with the analytical skills and logic needed to write clean and efficient code.</p>
                    <p>I have a strong desire to use my unique combination of skills to build technology that is not only useful, but also impacts the user’s life in a positive way. </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-lg btn-outline" href="https://github.com/ScottLindley/ScottLindley.github.io/raw/master/assets/scott-lindley-resume.pdf" target="_blank">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
         </div>
    </section>
