.github-project-link {
    background-color: #444444;
    border: solid 2px #{{ site.color.secondary }};
    width: 200px;
}

.center-links {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
